html, body {
    margin: 0px;
    height: 100%;
}

.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 15px 10px;
  padding-top: 0px;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 1.25rem;
  line-height: 1.25rem;
  border-radius: 4px;
}

.network {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  margin: 0px;
  text-decoration: none;
  font-size: 1rem;
  line-height: 1.5rem;
  border-radius: 4px;
}

.header-right {
  float: right;
  padding: 12px;
  line-height: 25px;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 300px;
  padding: 10px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 105%;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%; /* To the left of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

main {
    height: 80%;
}